body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  background-color: #ffffff;
}
h1,
h2,
h3 {
  font-weight: 700;
  color: #2e2f42;
}
h2 {
  font-size: 36px;
  letter-spacing: 0.02em;
}
.portfolio-title {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.card-content {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.portfolio h2 {
font-family: var(--font-family);
font-weight: 700;
font-size: 36px;
/* line-height: 40px; */ 
line-height: 1.11111;
letter-spacing: 0.02em;
text-align: center;
color: var(--navy-blue);
}

