body {
  font-family: "Ralewey", sans-serif;
  color: #2e2f42;

  /* Default font properties */
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #2e2f42;
  background-color: #ffffff;
}
a {
  color: currentColor;
  text-decoration: none;
}
button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */
/* region Logo */
.page-header {
}

.logo {
  font-family: "Ralewey", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  vertical-align: middle;
  text-decoration: none;
  color: #404bbf;
}
.logo-dark {
  color: #2e2f42;
}
.logo-light {
  color: #f4f4fd;
}
.header .logo {
  margin-right: 76px;
}
.footer .logo {
  margin-bottom: 16px;
}
[href="./index.html"] {
  color: #2e2f42;
}

.nav {
}
.nav-list-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-list-link:hover,
.nav-list-link:focus {
  color: #404bbf;
}

.current {
}
.nav-address {
}
.nav-address-link {
}

.nav-address-email {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.nav-address-email:hover,
.nav-address-email:focus {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}
.nav-address-tel {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.nav-address-tel:hover,
.nav-address-tel:focus {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}
/* Hero */
.hero-section {
  background-color: #2e2f42;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}
.hero-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
}
.hero-btn:hover,
.hero-btn:focus {
  color: #404bbf;
}
/* features-section */

.features-section {
  background-color: #ffffff;
}
.features-list {
}
.features-item {
}

.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.features-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.team-section {
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.team-list {
}
.team-item {
}
.team-avatar {
}
.team-content {
}

.team-member-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-member-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.portfolio {
}
.container {
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.portfolio-list {
}
.portfolio-item {
}
.portfolio-picture {
}
.portfolio-text-wrap {
}
.project-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.project-category {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Footer */
.footer {
  background-color: #2e2f42;
}
.logo {
  font-family: "Ralewey", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  vertical-align: middle;
  text-decoration: none;
  color: #404bbf;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

header a {
}
